[Desktop Entry]
Comment=Derived from Expose by Phob1an
Name=Luna
X-KDE-PluginInfo-Author=klapeto
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=yiannispana13@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Luna
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=
