[Desktop Entry]
Name=Luna
Comment=Derived from XBoomer by efskap

X-KDE-PluginInfo-Author=klapeto
X-KDE-PluginInfo-Email=yiannispana13@gmail.com
X-KDE-PluginInfo-Name=Luna
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
