[Desktop Entry]
Comment=Derived from Expose by Phob1an
Name=Luna
X-KDE-PluginInfo-Author=Klapeto
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=yiannispana13@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=Luna
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
